.title {
  font-size: 2rem;
}
.targets-pic-container {
  width: 50%;
}
.board-pic-container {
  width: 80%;
  position: relative;
}
.targets-pic-container img,
.board-pic-container img {
  max-width: 100%;
}
.game-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.target-box {
  width: 50px;
  height: 60px;
  border: 3px dashed red;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 0, 0.5);
}
.dropdown-menu {
  position: absolute;
  transform: translate(60%, 0);
  width: 100px;
  padding: 0.4em 0.6em;
  background-color: rgb(54, 53, 53);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}
.dropdown-menu:hover {
  cursor: pointer;
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 0;
  transform: translate(60%, 30%);
}
.target-names {
  width: 100px;
  font-size: 1rem;
}
.time {
  text-align: center;
  position: fixed;
  bottom: 20px;
  width: 100px;
  font-size: 1.1rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em 0.6em;
  background-color: yellow;
}
.flash-msg {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  font-size: 1.3rem;
}

.success {
  background-color: #dff0d8; /* Green background for success */
  color: #3c763d; /* Dark green text */
}

.failure {
  background-color: #f2dede; /* Red background for failure */
  color: #a94442; /* Dark red text */
}

.info {
  background-color: #d9edf7; /* Blue background for info */
  color: #31708f; /* Dark blue text */
}

/* Additional styling for the alert appearance */
.flash-msg {
  border: 1px solid transparent; /* Transparent border */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); /* Shadow for depth */
}
.targets-pic-container {
  position: relative;
}
.target-status-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 50%;
  left: 30px;
  gap: 50px;
}
.target-status-btn {
  font-size: 1rem;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
}
