.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.home-title {
  padding-top: 1em;
  font-size: 2rem;
}
.home-text {
  max-width: 60%;
}
.home-target-img,
.home-gif {
  width: 60%;
}
.home-target-img img,
.home-gif img {
  max-width: 100%;
}
.home-instruction-title {
  font-size: 1.7rem;
}
.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.home-gif,
.home-gif img {
  border-radius: 12px;
}
.hall-of-fame table {
  width: 500px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid var(--background-color);
  padding: 8px;
  text-align: center;
}
th {
  background-color: var(--background-color);
}
table > thead > tr:first-child > th {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-size: 1.7rem;
}
